<h3 *ngIf="products;else noProduct">{{title}}</h3>
<div class="form-group">
    <input class="form-control" id="exampleInputEmail1" placeholder="Search" [(ngModel)]="filterText">
    <small *ngIf="filterText;else noFilter" class="form-text text-muted">
        Aradığınız kelime : <strong>{{filterText}}</strong></small>
   
</div>
<div class="row">
    <ng-template #noProduct>
        <div class="alert alert-warning" role="alert">
            Bu kategoride ürün yoktur.
        </div>
    </ng-template>

    <div *ngFor="let product of products | productFilter:filterText" class="card" style="width: 18rem;">
        <img [src]="product.imageUrl" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p>
            <h3 class="card-title">{{product.price | currency:'USD':false:"1.2-2"}}</h3>
            <a (click)="addToCard(product)"href="#" class="btn btn-primary">Sepete ekle</a>
        </div>
    </div>

</div>